@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
@font-face { font-family: LemonMilk; font-weight: 100; src: url("/storage/fonts/LemonMilkLight.otf"); }
@font-face { font-family: LemonMilk; font-weight: 600; src: url("/storage/fonts/LemonMilkRegular.otf"); }
@font-face { font-family: LemonMilk; font-weight: 700; src: url("/storage/fonts/LemonMilkMedium.otf"); }
@font-face { font-family: Venera; font-weight: 500; src: url("/storage/fonts/Venera-500.otf"); }
@font-face { font-family: Torus; font-weight: 100; src: url("/storage/fonts/Torus-Thin.otf"); }
@font-face { font-family: Torus; font-weight: 600; src: url("/storage/fonts/Torus-SemiBold.otf"); }
@font-face { font-family: Torus; font-weight: 700; src: url("/storage/fonts/Torus-SemiBold.otf"); }
@font-face { font-family: Torus; font-weight: 400; src: url("/storage/fonts/Torus-Regular.otf"); }
@font-face { font-family: Torus; font-weight: 300; src: url("/storage/fonts/Torus-Light.otf"); }
@font-face { font-family: Torus; font-weight: 900; src: url("/storage/fonts/Torus-Heavy.otf"); }
@font-face { font-family: Torus; font-weight: 800; src: url("/storage/fonts/Torus-Bold.otf"); }



body {
    background: var(--main-bg);
    margin: 60px;
}

:root {
    --main-color: #009CCD;
    --main-bg: #323232;
    --segment: #282828;
    --segment2: #0c0c0c;
    --header-seconday: #424242;
    --circle: #C4C4C4;
  }
  
.main-title {
    font-family: LemonMilk;
    color: white;
}
.main-title span {
    color: var(--main-color);
}

.main-container {
    background: #222;
    position: relative;
    border-radius: 15px 15px 0 0;
}
.header {
    width: 100%;
    height: 60px;
    background: var(--segment);
    border-bottom: 2px solid var(--main-color);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}

.workspace {
    position: relative;
    padding:1em
}

canvas {
    background-color: white;
    cursor: crosshair;
}

.header-secondary {
    height: 35px;
    background-color: var(--header-seconday);
    display: flex;
    width: calc(100% - 10px);
    padding: 5px;
}
.color-slider{
    min-height: 450px;
    max-height: 600px;
    width: 100px;
    max-width: 20%;
    display: flex;
	flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;

}
.block{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider{
    min-width: 200px;
    max-height: 200px;
    /* max-width: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    margin: 3em 0;
}

.slider .red-value{
    display: flex;
    align-content: space-between;
}

.slider .red-value #rValue{
    text-align: center;
    margin-right: 20px;
    font-family: LemonMilk;
    font-size: large;
    transform: rotate(90deg);
    background-color: #ff4b4b;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.slider .green-value{
    display: flex;
    align-content: space-between;
}
.slider .green-value #gValue{
    text-align: center;
    font-family: LemonMilk;
    font-size: large;
    transform: rotate(90deg);
    background-color: #00ff00;
    width: 30px;
    height: 20px;
}
.slider .blue-value{
    display: flex;
    align-content: space-between;
}
.slider .blue-value #bValue{
    text-align: center;
    font-family: LemonMilk;
    font-size: large;
    transform: rotate(90deg);
    background-color: #7070ff;
    width: 30px;
    height: 20px;
    border-radius: 0 5em 5em 0;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--circle);
}
input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background:white;
    cursor: pointer;
    transition: background .3s ease-in-out;
}



#slideR, #slideG, #slideB{
    
    -webkit-appearance: none;
    border-radius: 50px;
    outline: 0;
    width: 250px;
}

#slideR{
    background: linear-gradient(to left,#F00, #000);
    appearance: none;
}

#slideG{
    background: linear-gradient(to left,#0F0, #000);
    appearance: none;
}

#slideB{
    background: linear-gradient(to left,#00F, #000);
    appearance: none;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
}

.dotContainer {
    position:relative;
}
.dot2 {
    /* border: 6px solid var(--header-seconday); */
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top:-25px;
    right:-25px;
    z-index: 0;
}

.dot {
    /* border: 6px solid var(--header-seconday); */
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    position:relative;
    z-index: 1;
}

.dot:hover{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
}
.wrapper {
    
display: flex;
    
flex-direction: column;
    
align-content: space-between;
    
height: -webkit-fill-available;
    
justify-content: space-between;
    }

#title {
    width: 500px;
    height: 50px;
    border: none;
    font-size: 30px;
    font-family: 'Torus';
    color: var(--main-color);
    background: var(--segment);
    text-align: center;
    transition: all 100ms ease-in-out;
}
#title:focus, #title:active {
    background: var(--segment2);
    outline: none;
    color:white;
    
}
#circle {
    font-size: 99%;
    background-color:var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
    transition: color 200ms ease-in-out;
}
#circle:hover{
    cursor:pointer;
    background-color: white;
    
}
#circle:active{
    transition-duration: none;
    background-color: var(--circle);
    box-shadow: none;
    transition: color 000ms ease-in-out;
}
#rgb{
    font-size: 99%;
    background-color:var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
    transition: color 200ms ease-in-out;
}
#rgb:hover{
    cursor:pointer;
    background-color: white;
}
#rgb:active{
    transition-duration: none;
    background-color: var(--circle);
    box-shadow: none;
    transition: color 000ms ease-in-out;
}

#import{
    font-size: 99%;
    background-color:var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 8px 0 rgba(0,0,0,0.19);
    transition: color 200ms ease-in-out;
}

#import:hover{
    cursor:pointer;
    background-color: white;
    
}

#import:active{
    transition-duration: none;
    background-color: var(--circle);
    box-shadow: none;
    transition: color 000ms ease-in-out;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tools button {
    width: 100px;
    height: 100px;
    border-radius: 500rem;
    border:none;
    background-color: var(--header-seconday);
    transition: all 100ms ease-in-out;
}

.tools button:hover {
    background-color: var(--main-bg);
}

.tools button i::before {
    font-size: 40px;
    color: white;
}

.tools button.active {
    border:3px solid var(--main-color);
    color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
}

.tools button.active i::before {
    color: var(--main-color);
}


.tools > div {
    width: 100px;
    height: 100px;
    border-radius: 500rem;
}

.footer {
    width: 100%;
    height: 60px;
    background: var(--segment);
    border-top: 2px solid var(--main-color);
    display: flex;
    align-content: center;
    border-radius: 0 0 15px 15px;
} 

.dropdown{
    color:var(--main-color);
    width:50px;
    position: absolute;
    margin-left:95%;
    z-index: 1000;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown:hover .conteneur {
    display: inline-block  ;        
}

.dropbtn {
    background-color: var(--main-color);
    color: black;
    border-radius: 5%;
    font-family:"Torus";
    padding: 5px;
    font-size: 20px;
    border: none;
}

.conteneur{
    display: none;
    background-color: var(--header-seconday);
    border-radius: 5%;
    font-family:"Torus";
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.conteneur p{
    transition: all .5s;
    user-select: none;
    padding:0 10px ;

 }
.conteneur p:hover {
    padding-left: 20px;
    padding-right: 20px;
    background-color:var(--main-bg);
}
.conteneur p:active {
    transition:all 0s;
    background-color:var(--main-color);
}
@media screen and (max-width: 1400px){
    body { 
        margin: 0px;
    }
    .card {
        flex-direction: column-reverse;
        width: fit-content;
    }

    .tools {
        flex-direction: row;
        margin-top: 1em;
    }

    .wrapper {
    align-items: center;
    }

    .main-title {
        text-align: center;
    }

    .dropdown{
        margin-left:90%;
    }
}


.selectionBox div {
    position: absolute;
    top: 0;
    border: 2px dashed black;
    cursor:grab;
}
.selectionBox {
    position:relative;
    width: 0;
    height: 0;
    float: left;
    z-index: 9;
}

.selectionBox div>span {
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    right:-13px;
    bottom:-13px;
    cursor:se-resize;
   
}

::-webkit-scrollbar {
    width: 10px;
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}